.cta {
    border: none;
    cursor: pointer;
    margin-top: 0.3rem;
    background: rgba(255, 255, 255, 0.5);
    padding: 8px;
    border-radius: 5px;
}

.cta span {
    /*padding-bottom: 7px;*/
    /*padding-right: 15px;*/
    letter-spacing: 4px;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
}

.cta svg {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    top: -0.15rem;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-15px) rotate(-45deg);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translate(-10px, -2px) rotate(-45deg);
}


.hover-underline-animation {
    position: relative;
    color: black;
    /*padding-bottom: 20px;*/
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


@media (max-width: 768px) {
    .cta {
        margin-top: 0.3rem;
    }

    .cta span {
        letter-spacing: 2px;
        font-size: 0.8rem;
    }

    .cta svg {
        width: 0.9rem;
        margin-left: 5px;
        top: -0.05rem;
        transform: translateX(-5px) rotate(-45deg);
    }

    .cta:hover svg {
        transform: translate(-2px, -2px) rotate(-45deg);
    }
}

@media (max-width: 496px) {
    .cta {
        padding: 0.4rem;
    }
        .cta span {
        letter-spacing: 1px;
        font-size: 0.7rem;
    }

    .cta svg {
        width: 0.9rem;
        margin-left: 5px;
        top: -0.05rem;
        transform: translateX(-5px) rotate(-45deg);
    }

    .cta:hover svg {
        transform: translate(-2px, -2px) rotate(-45deg);
    }
}
