<% layout("layouts/boilerplate") %>
<body>
    <h2>ALL LISTINGS</h2>
<!--    <form action="/listings/new", method="GET">-->
<!--        <button>Create new listing</button>-->
<!--    </form>-->
    <ul>
        <% for(let listing of allListings) { %>
            <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %>  </a></li>
            <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %>  </a></li>
        <% } %>
    </ul>
</body>