<% layout("layouts/boilerplate") %>
<body>
    <h2>Create a new listing</h2>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="Enter title" type="text" required />
        <br />
        <br />
        <textarea name="listing[description]" placeholder="Enter description" required></textarea>
        <br />
        <br />
        <input name="listing[image]" placeholder="Enter image URL/Link" type="text" required />
        <br />
        <br />
        <input name="listing[price]" placeholder="Enter price" type="number" required />
        <br />
        <br />
        <input name="listing[country]" placeholder="Enter country" type="text" required />
        <br />
        <br />
        <input name="listing[location]" placeholder="Enter location" type="text" required />
        <br />
        <br />
        <button type="submit">Add</button>
    </form>
</body>