/* Global Styles */
body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}


/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.navbar-collapse.collapse.show {
    background-color: rgba(250, 249, 249, 0.95);
    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 0.2rem;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .navbar {
        height: 4rem;
    }

    .fa-compass {
        font-size: 1.5rem;
    }

    .nav-link {
        font-size: 0.9rem;
    }

    .navbar-toggler {
        font-size: 1.25rem;
    }
}



/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    height: 8rem;
    text-align: center;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .f-info {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 1rem;
    }

    .f-info-socials {
        margin-bottom: 0.5rem;
    }

    .f-info-socials i {
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }

    .f-info-links a {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
}



/* Card Styling */
.card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

@media (max-width: 768px) {
    .card-body {
        padding: 0.5rem !important;
    }

    .card-text {
        font-size: 0.9rem;
    }
}



/* Show Page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 1rem;
}


/* Search Bar Section */
#search-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

#search-input {
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 300px;
}

#search-button {
    background-color: #FF5A5F; /* Airbnb red */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-left: 0.5rem; /* Space between search input and button */
}


/* filter section */
#filters-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    overflow: hidden;
}

#filters {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 98%;
}

#filters::-webkit-scrollbar {
    display: none;
}

.filter {
    text-align: center;
    margin-right: 2rem;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.filter p {
    font-size: 0.8rem;
}

.filter a {
    text-decoration: none;
    color: black !important;
}


/* Taxes Toggle button */
#toggle-container {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    font-size: 0.8rem;
    width: 200px;
}

.toggle-switch {
    position: relative;
    width: 40px;
    height: 20px;
    margin-left: 0.5rem;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .toggle-slider {
    background-color: #2196F3;
}

input:checked + .toggle-slider:before {
    transform: translateX(20px);
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    #filters-container {
        flex-direction: column; /* Stack filters and toggle vertically */
        align-items: flex-start;
    }

    .filter {
        margin-right: 1rem;
    }

    .filter p {
        font-size: 0.7rem;
    }

    #toggle-container {
        flex-direction: row;
        align-items: center;
        margin-left: 1rem;
    }
}

/* Star Rating CSS */
.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
}

.rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
}

.rating:not(:checked) > label:before {
    content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
}

.rating > input:checked ~ label {
    color: #ffa723;
}

/* Rating System */
@media (max-width: 768px) {
    .rating > label {
        font-size: 25px;
    }
}
