@import "Index/searchbar.css";
@import "navbar.css";
@import "footer.css";
@import "Index/cardComponent.css";
@import "ShowListing/showListing.css";
@import "Index/filters.css";
@import "Index/taxesButton.css";
@import "ShowListing/review.css";
@import "ShowListing/ListingEditButton.css";
@import "ShowListing/ListingDeleteButton.css";
@import "Profile/logoutButton.css";
@import "Profile/profileEditButton.css";
@import "Profile/profilePic.css";
@import "Profile/seeYourListingsButton.css";


/* Global Styles */
body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}
