/* Card Styling */
.card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

card-body-show {
    padding: 0 !important;
}

.card-text {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

@media (max-width: 768px) {
    .card-img-top {
        padding: 0 0.5rem;
        border-radius: 1.8rem !important;
    }
    .card-body {
        padding: 0.5rem 0.8rem !important;
    }

    .card-text {
        font-size: 0.9rem;
    }
}
