<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
        <h2 class="form-title">Login</h2>
        <br>
        <form method="POST" action="/login" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" placeholder="Choose a username" type="text" class="form-control" required />
                <div class="invalid-feedback">Please enter a username!</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" placeholder="Create a password" type="password" class="form-control" required />
                <div class="invalid-feedback">Please enter a password!</div>
            </div>
            <br>
            <button class="btn btn-outline-primary mr-3 px-4">Login</button>
        </form>
        <p class="switch-account mt-3">If you are not registered, <a href="/signup">sign up</a> to create an account.</p>
    </div>
</div>
